<!--
  Author: Bharath Sankaran

  file: offline_3d.launch
  author: Bharath Sankaran
  date: February 2019
-->

<launch>
  <arg name="bag_filenames" />
  <arg name="urdf_path" />

  <arg name="configuration" value="offline_2d" />

  <node name="cartographer_offline_node" pkg="cartographer_ros" required="true" type="cartographer_offline_node"
        args="-configuration_directory $(find cartographer_ros)/configuration_files
              -configuration_basenames $(arg configuration).lua
              -urdf_filenames $(arg urdf_path)
              -bag_filenames $(arg bag_filenames)"
        output="screen">
    <remap from="points2_1" to="velodyne_points" />
    <remap from="points2_2" to="rslidar_points" />
    <remap from="imu" to="zed/zed_node/imu/data" />
  </node>

  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros" type="cartographer_occupancy_grid_node"
        args="-resolution 0.03" />

</launch>
